EldigmPlusApp/Web References/M_WsMember/WsMember.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49469/WebSvc/Sys/MemberSite/WsMember.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EldigmPlusSvc_Main.WebSvc.Sys.MemberSite" />
  <xs:import schemaLocation="http://localhost:49469/WebSvc/Sys/MemberSite/WsMember.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="sMember_UsingFlag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pUsingFlag" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sMember_UsingFlagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sMember_UsingFlagResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EldigmPlusSvc_Main.WebSvc.Sys.MemberSite" minOccurs="0" name="reList" nillable="true" type="q1:ArrayOfDataMemberDB" />
        <xs:element minOccurs="0" name="reMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sMember">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pMemcoCd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sMemberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sMemberResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EldigmPlusSvc_Main.WebSvc.Sys.MemberSite" minOccurs="0" name="reList" nillable="true" type="q2:ArrayOfDataMemberDB" />
        <xs:element minOccurs="0" name="reMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mMember">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pMemcoCd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pMemcoNm" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pUsingFlag" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pSortNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pMemo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mMemberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mMemberResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reMsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reData" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="exMember">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pMemcoCd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pMemcoNm" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="exMemberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="exMemberResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reMsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reData" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="aMember">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pMemcoNM" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pDb_Nm" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pUsingFlag" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pSortNop" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pMemo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pInputId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="aMemberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aMemberResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reMsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reData" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sMemberMainDB">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="sMemberMainDBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sMemberMainDBResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EldigmPlusSvc_Main.WebSvc.Sys.MemberSite" minOccurs="0" name="reList" nillable="true" type="q3:ArrayOfDataMemberMainDB" />
        <xs:element minOccurs="0" name="reMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sSite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pMemcoCd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pUsingFlag" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sSiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sSiteResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/EldigmPlusSvc_Main.WebSvc.Sys.MemberSite" minOccurs="0" name="reList" nillable="true" type="q4:ArrayOfDataSiteDB" />
        <xs:element minOccurs="0" name="reMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mSite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="siteCd_val" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="siteNm_val" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usingFlag_val" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sortNo_val" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="memo_val" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mSiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mSiteResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reMsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reData" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="exSite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pSiteNm" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="exSiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="exSiteResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reMsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reData" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="aSite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pDbNm" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="param" nillable="true" type="q5:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="aSiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aSiteResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reMsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reData" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>