EldigmPlusApp/Web References/WsSCodeGrp/WsSysCodeGrp1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49501/WebSvc/Sys/SysCode/WsSysCodeGrp.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EldigmPlusSvc_Memco.WebSvc.Sys.SysCode" />
  <xs:element name="sSysCodeGrp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pScodeGrp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sSysCodeGrpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sSysCodeGrpResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EldigmPlusSvc_Memco.WebSvc.Sys.SysCode" minOccurs="0" name="reList" nillable="true" type="q1:ArrayOfDataSysCodeGrp" />
        <xs:element minOccurs="0" name="reMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mSysCodeGrp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pScodeGrp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pScodeNm" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pUsingFlag" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pSortNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pMemo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mSysCodeGrpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mSysCodeGrpResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reMsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reData" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sSysCodeGrp_UsingFlag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pUsingFlag" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sSysCodeGrp_UsingFlagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sSysCodeGrp_UsingFlagResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EldigmPlusSvc_Memco.WebSvc.Sys.SysCode" minOccurs="0" name="reList" nillable="true" type="q2:ArrayOfDataSysCodeGrp" />
        <xs:element minOccurs="0" name="reMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sSysCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pScodeGrp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pUsingFlag" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pScodeNm" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sSysCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sSysCodeResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EldigmPlusSvc_Memco.WebSvc.Sys.SysCode" minOccurs="0" name="reList" nillable="true" type="q3:ArrayOfDataSysCode" />
        <xs:element minOccurs="0" name="reMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mSysCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pScode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pScodeNm" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pUsingFlag" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pSortNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pMemo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mSysCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mSysCodeResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reMsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reData" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="exSysCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pScode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="exSysCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="exSysCodeResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reMsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reData" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="aSysCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pScode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pScodeGrp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pScodeNm" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pUsingFlag" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pMemo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pSortNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pInputId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="aSysCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aSysCodeResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reMsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reData" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="fSysCodeSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_scodeGrp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pScode_Nm" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="fSysCodeSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fSysCodeSearchResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/EldigmPlusSvc_Memco.WebSvc.Sys.SysCode" minOccurs="0" name="reList" nillable="true" type="q4:ArrayOfDataSysCode" />
        <xs:element minOccurs="0" name="reMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>