EldigmPlusApp/Web References/M_WsCCodeGrp/WsComnCodeGrp0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EldigmPlusSvc_Main.WebSvc.Sys.ComnCode" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EldigmPlusSvc_Main.WebSvc.Sys.ComnCode" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDataComnCodeGrp">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataComnCodeGrp" nillable="true" type="tns:DataComnCodeGrp" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataComnCodeGrp" nillable="true" type="tns:ArrayOfDataComnCodeGrp" />
  <xs:complexType name="DataComnCodeGrp">
    <xs:sequence>
      <xs:element minOccurs="0" name="CCODE_GRP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CCODE_GRP_NM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USING_FLAG" type="xs:int" />
      <xs:element minOccurs="0" name="SORT_NO" type="xs:int" />
      <xs:element minOccurs="0" name="MEMO" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataComnCodeGrp" nillable="true" type="tns:DataComnCodeGrp" />
  <xs:complexType name="ArrayOfDataCodeAuthSiteMemberDB">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataCodeAuthSiteMemberDB" nillable="true" type="tns:DataCodeAuthSiteMemberDB" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataCodeAuthSiteMemberDB" nillable="true" type="tns:ArrayOfDataCodeAuthSiteMemberDB" />
  <xs:complexType name="DataCodeAuthSiteMemberDB">
    <xs:sequence>
      <xs:element minOccurs="0" name="AUTH_CD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AUTH_NM" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataCodeAuthSiteMemberDB" nillable="true" type="tns:DataCodeAuthSiteMemberDB" />
  <xs:complexType name="ArrayOfDataSetAuthSiteMemberDB">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataSetAuthSiteMemberDB" nillable="true" type="tns:DataSetAuthSiteMemberDB" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataSetAuthSiteMemberDB" nillable="true" type="tns:ArrayOfDataSetAuthSiteMemberDB" />
  <xs:complexType name="DataSetAuthSiteMemberDB">
    <xs:sequence>
      <xs:element minOccurs="0" name="CCODE_GRP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CCODE_GRP_NM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VIEW_FLAG" type="xs:short" />
      <xs:element minOccurs="0" name="NEW_FLAG" type="xs:short" />
      <xs:element minOccurs="0" name="MODIFY_FLAG" type="xs:short" />
      <xs:element minOccurs="0" name="DEL_FLAG" type="xs:short" />
      <xs:element minOccurs="0" name="REPORT_FLAG" type="xs:short" />
      <xs:element minOccurs="0" name="PRINT_FLAG" type="xs:short" />
      <xs:element minOccurs="0" name="DOWNLOAD_FLAG" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataSetAuthSiteMemberDB" nillable="true" type="tns:DataSetAuthSiteMemberDB" />
  <xs:complexType name="ArrayOfDataComecodeSite">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataComecodeSite" nillable="true" type="tns:DataComecodeSite" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataComecodeSite" nillable="true" type="tns:ArrayOfDataComecodeSite" />
  <xs:complexType name="DataComecodeSite">
    <xs:sequence>
      <xs:element minOccurs="0" name="CCODE" type="xs:int" />
      <xs:element minOccurs="0" name="CCODE_GRP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CCODE_NM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MEMO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USING_FLAG" type="xs:int" />
      <xs:element minOccurs="0" name="SORT_NO" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataComecodeSite" nillable="true" type="tns:DataComecodeSite" />
</xs:schema>