EldigmPlusApp/Web References/M_WsCCodeGrp/WsComnCodeGrp.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49469/WebSvc/Sys/ComnCode/WsComnCodeGrp.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EldigmPlusSvc_Main.WebSvc.Sys.ComnCode" />
  <xs:element name="sComnCodeGrp">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="sComnCodeGrpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sComnCodeGrpResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EldigmPlusSvc_Main.WebSvc.Sys.ComnCode" minOccurs="0" name="reList" nillable="true" type="q1:ArrayOfDataComnCodeGrp" />
        <xs:element minOccurs="0" name="reMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="aComnCodeGrp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pCcodeGrp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pCcodeGrpNm" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pUsingFlag" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pSortNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pMemo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pInputId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="aComnCodeGrpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aComnCodeGrpResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reMsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reData" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="exComnCodeGrp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pCcodeGrp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="exComnCodeGrpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="exComnCodeGrpResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reMsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reData" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mComnCodeGrp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pCcodeGrp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pCcodeGrpNm" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pUsingFlag" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pSortNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pMemo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mComnCodeGrpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mComnCodeGrpResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reMsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reData" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>