EldigmPlusApp/Connected Services/WsMHome/WsMainHome.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WsMainHome" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49501/WebSvc/MainHome/WsMainHome.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49501/WebSvc/MainHome/WsMainHome.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49501/WebSvc/MainHome/WsMainHome.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EldigmPlusSvc_Memco.WebSvc.MainHome" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWsMainHome_sDbNm_InputMessage">
    <wsdl:part name="parameters" element="tns:sDbNm" />
  </wsdl:message>
  <wsdl:message name="IWsMainHome_sDbNm_OutputMessage">
    <wsdl:part name="parameters" element="tns:sDbNmResponse" />
  </wsdl:message>
  <wsdl:message name="IWsMainHome_sSiteMenu_InputMessage">
    <wsdl:part name="parameters" element="tns:sSiteMenu" />
  </wsdl:message>
  <wsdl:message name="IWsMainHome_sSiteMenu_OutputMessage">
    <wsdl:part name="parameters" element="tns:sSiteMenuResponse" />
  </wsdl:message>
  <wsdl:message name="IWsMainHome_sSiteSubMenu1_InputMessage">
    <wsdl:part name="parameters" element="tns:sSiteSubMenu1" />
  </wsdl:message>
  <wsdl:message name="IWsMainHome_sSiteSubMenu1_OutputMessage">
    <wsdl:part name="parameters" element="tns:sSiteSubMenu1Response" />
  </wsdl:message>
  <wsdl:message name="IWsMainHome_sSiteSubMenu2_InputMessage">
    <wsdl:part name="parameters" element="tns:sSiteSubMenu2" />
  </wsdl:message>
  <wsdl:message name="IWsMainHome_sSiteSubMenu2_OutputMessage">
    <wsdl:part name="parameters" element="tns:sSiteSubMenu2Response" />
  </wsdl:message>
  <wsdl:portType name="IWsMainHome">
    <wsdl:operation name="sDbNm">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsMainHome/sDbNm" message="tns:IWsMainHome_sDbNm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsMainHome/sDbNmResponse" message="tns:IWsMainHome_sDbNm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sSiteMenu">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsMainHome/sSiteMenu" message="tns:IWsMainHome_sSiteMenu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsMainHome/sSiteMenuResponse" message="tns:IWsMainHome_sSiteMenu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sSiteSubMenu1">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsMainHome/sSiteSubMenu1" message="tns:IWsMainHome_sSiteSubMenu1_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsMainHome/sSiteSubMenu1Response" message="tns:IWsMainHome_sSiteSubMenu1_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sSiteSubMenu2">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsMainHome/sSiteSubMenu2" message="tns:IWsMainHome_sSiteSubMenu2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsMainHome/sSiteSubMenu2Response" message="tns:IWsMainHome_sSiteSubMenu2_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWsMainHome" type="tns:IWsMainHome">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="sDbNm">
      <soap:operation soapAction="http://tempuri.org/IWsMainHome/sDbNm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sSiteMenu">
      <soap:operation soapAction="http://tempuri.org/IWsMainHome/sSiteMenu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sSiteSubMenu1">
      <soap:operation soapAction="http://tempuri.org/IWsMainHome/sSiteSubMenu1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sSiteSubMenu2">
      <soap:operation soapAction="http://tempuri.org/IWsMainHome/sSiteSubMenu2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsMainHome">
    <wsdl:port name="BasicHttpBinding_IWsMainHome" binding="tns:BasicHttpBinding_IWsMainHome">
      <soap:address location="http://localhost:49501/WebSvc/MainHome/WsMainHome.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>