EldigmPlusApp/Web References/Mem_WsSysAuthMemberDB/WsSysAuthMemberDB0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EldigmPlusSvc_Memco.WebSvc.Sys.SysAuth" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EldigmPlusSvc_Memco.WebSvc.Sys.SysAuth" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDataMemberMainDB">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataMemberMainDB" nillable="true" type="tns:DataMemberMainDB" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataMemberMainDB" nillable="true" type="tns:ArrayOfDataMemberMainDB" />
  <xs:complexType name="DataMemberMainDB">
    <xs:sequence>
      <xs:element minOccurs="0" name="MEMCO_CD" type="xs:int" />
      <xs:element minOccurs="0" name="MEMCO_NM" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataMemberMainDB" nillable="true" type="tns:DataMemberMainDB" />
  <xs:complexType name="ArrayOfDataSysAuthMemberDB">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataSysAuthMemberDB" nillable="true" type="tns:DataSysAuthMemberDB" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataSysAuthMemberDB" nillable="true" type="tns:ArrayOfDataSysAuthMemberDB" />
  <xs:complexType name="DataSysAuthMemberDB">
    <xs:sequence>
      <xs:element minOccurs="0" name="AUTH_CD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AUTH_NM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MYBLOCK_FLAG" type="xs:int" />
      <xs:element minOccurs="0" name="MYCON_FLAG" type="xs:int" />
      <xs:element minOccurs="0" name="MYCOM_FLAG" type="xs:int" />
      <xs:element minOccurs="0" name="MYTEAM_FLAG" type="xs:int" />
      <xs:element minOccurs="0" name="USING_FLAG" type="xs:int" />
      <xs:element minOccurs="0" name="AUTH_LEVEL" type="xs:int" />
      <xs:element minOccurs="0" name="MEMO" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataSysAuthMemberDB" nillable="true" type="tns:DataSysAuthMemberDB" />
  <xs:complexType name="ArrayOfDataSiteMainDB">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataSiteMainDB" nillable="true" type="tns:DataSiteMainDB" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataSiteMainDB" nillable="true" type="tns:ArrayOfDataSiteMainDB" />
  <xs:complexType name="DataSiteMainDB">
    <xs:sequence>
      <xs:element minOccurs="0" name="SITE_CD" type="xs:int" />
      <xs:element minOccurs="0" name="SITE_NM" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataSiteMainDB" nillable="true" type="tns:DataSiteMainDB" />
  <xs:complexType name="ArrayOfDataSysAuthSiteDB">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataSysAuthSiteDB" nillable="true" type="tns:DataSysAuthSiteDB" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataSysAuthSiteDB" nillable="true" type="tns:ArrayOfDataSysAuthSiteDB" />
  <xs:complexType name="DataSysAuthSiteDB">
    <xs:sequence>
      <xs:element minOccurs="0" name="AUTH_CD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AUTH_NM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AUTH_LEVEL" type="xs:int" />
      <xs:element minOccurs="0" name="LAB_APRV_FLAG" type="xs:int" />
      <xs:element minOccurs="0" name="USING_FLAG" type="xs:int" />
      <xs:element minOccurs="0" name="MYTEAM_FLAG" type="xs:int" />
      <xs:element minOccurs="0" name="MEMO" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataSysAuthSiteDB" nillable="true" type="tns:DataSysAuthSiteDB" />
</xs:schema>