EldigmPlusApp/Web References/WsSCodeGrpPra/WsSysCodeGrpPra.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49501/WebSvc/Sys/SysCode/WsSysCodeGrpPra.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EldigmPlusSvc_Memco.WebSvc.Sys.SysCode" />
  <xs:element name="psSysCodeGrp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pScodeGrp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="psSysCodeGrpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="psSysCodeGrpResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EldigmPlusSvc_Memco.WebSvc.Sys.SysCode" minOccurs="0" name="reList" nillable="true" type="q1:ArrayOfDataSysCodeGrpPra" />
        <xs:element minOccurs="0" name="reMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="pmSysCodeGrp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pScodeGrp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pScodeNm" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pUsingFlag" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pSortNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pMemo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="pmSysCodeGrpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pmSysCodeGrpResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>