EldigmPlusApp/Web References/WsSCodeGrpPra/WsSysCodeGrpPra.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WsSysCodeGrpPra" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49501/WebSvc/Sys/SysCode/WsSysCodeGrpPra.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49501/WebSvc/Sys/SysCode/WsSysCodeGrpPra.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49501/WebSvc/Sys/SysCode/WsSysCodeGrpPra.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EldigmPlusSvc_Memco.WebSvc.Sys.SysCode" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWsSysCodeGrpPra_psSysCodeGrp_InputMessage">
    <wsdl:part name="parameters" element="tns:psSysCodeGrp" />
  </wsdl:message>
  <wsdl:message name="IWsSysCodeGrpPra_psSysCodeGrp_OutputMessage">
    <wsdl:part name="parameters" element="tns:psSysCodeGrpResponse" />
  </wsdl:message>
  <wsdl:message name="IWsSysCodeGrpPra_pmSysCodeGrp_InputMessage">
    <wsdl:part name="parameters" element="tns:pmSysCodeGrp" />
  </wsdl:message>
  <wsdl:message name="IWsSysCodeGrpPra_pmSysCodeGrp_OutputMessage">
    <wsdl:part name="parameters" element="tns:pmSysCodeGrpResponse" />
  </wsdl:message>
  <wsdl:portType name="IWsSysCodeGrpPra">
    <wsdl:operation name="psSysCodeGrp">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsSysCodeGrpPra/psSysCodeGrp" message="tns:IWsSysCodeGrpPra_psSysCodeGrp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsSysCodeGrpPra/psSysCodeGrpResponse" message="tns:IWsSysCodeGrpPra_psSysCodeGrp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="pmSysCodeGrp">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsSysCodeGrpPra/pmSysCodeGrp" message="tns:IWsSysCodeGrpPra_pmSysCodeGrp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsSysCodeGrpPra/pmSysCodeGrpResponse" message="tns:IWsSysCodeGrpPra_pmSysCodeGrp_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWsSysCodeGrpPra" type="tns:IWsSysCodeGrpPra">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="psSysCodeGrp">
      <soap:operation soapAction="http://tempuri.org/IWsSysCodeGrpPra/psSysCodeGrp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="pmSysCodeGrp">
      <soap:operation soapAction="http://tempuri.org/IWsSysCodeGrpPra/pmSysCodeGrp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsSysCodeGrpPra">
    <wsdl:port name="BasicHttpBinding_IWsSysCodeGrpPra" binding="tns:BasicHttpBinding_IWsSysCodeGrpPra">
      <soap:address location="http://localhost:49501/WebSvc/Sys/SysCode/WsSysCodeGrpPra.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>