EldigmPlusApp/Web References/WsSCodeGrpPra/WsSysCodeGrpPra0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EldigmPlusSvc_Memco.WebSvc.Sys.SysCode" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EldigmPlusSvc_Memco.WebSvc.Sys.SysCode" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDataSysCodeGrpPra">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataSysCodeGrpPra" nillable="true" type="tns:DataSysCodeGrpPra" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataSysCodeGrpPra" nillable="true" type="tns:ArrayOfDataSysCodeGrpPra" />
  <xs:complexType name="DataSysCodeGrpPra">
    <xs:sequence>
      <xs:element minOccurs="0" name="SCODE_GRP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SCODE_NM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USING_FLAG" type="xs:int" />
      <xs:element minOccurs="0" name="SORT_NO" type="xs:int" />
      <xs:element minOccurs="0" name="MEMO" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataSysCodeGrpPra" nillable="true" type="tns:DataSysCodeGrpPra" />
</xs:schema>