EldigmPlusApp/Web References/M_WsSysAuthMainDB/WsSysAuthMainDB1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49469/WebSvc/Sys/SysAuth/WsSysAuthMainDB.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EldigmPlusSvc_Main.WebSvc.Sys.SysAuth" />
  <xs:element name="sSysAuthMainDB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pUsingFlag" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sSysAuthMainDBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sSysAuthMainDBResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EldigmPlusSvc_Main.WebSvc.Sys.SysAuth" minOccurs="0" name="reList" nillable="true" type="q1:ArrayOfDataSysAuthMainDB" />
        <xs:element minOccurs="0" name="reMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mSysAuthMainDB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sauthCd_val" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sauthNm_val" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="myblockFlag_val" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="myconFlag_val" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mycomFlag_val" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="myteamFlag_val" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usingFlag_val" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="memo_val" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mSysAuthMainDBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mSysAuthMainDBResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reMsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reData" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="exSysAuthMainDB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sauthCd_val" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="exSysAuthMainDBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="exSysAuthMainDBResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reMsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reData" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="aSysAuthMainDB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sauthCd_val" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sauthNm_val" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="myblockFlag_val" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="myconFlag_val" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mycomFlag_val" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="myteamFlag_val" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usingFlag_val" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sauthLevel_val" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="memo_val" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pInputId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="aSysAuthMainDBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aSysAuthMainDBResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reMsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reData" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>