EldigmPlusApp/Web References/M_WsSysAuthMainDB/WsSysAuthMainDB.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EldigmPlusSvc_Main.WebSvc.Sys.SysAuth" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EldigmPlusSvc_Main.WebSvc.Sys.SysAuth" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDataSysAuthMainDB">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataSysAuthMainDB" nillable="true" type="tns:DataSysAuthMainDB" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataSysAuthMainDB" nillable="true" type="tns:ArrayOfDataSysAuthMainDB" />
  <xs:complexType name="DataSysAuthMainDB">
    <xs:sequence>
      <xs:element minOccurs="0" name="AUTH_CD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AUTH_NM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MYBLOCK_FLAG" type="xs:int" />
      <xs:element minOccurs="0" name="MYCON_FLAG" type="xs:int" />
      <xs:element minOccurs="0" name="MYCOM_FLAG" type="xs:int" />
      <xs:element minOccurs="0" name="MYTEAM_FLAG" type="xs:int" />
      <xs:element minOccurs="0" name="USING_FLAG" type="xs:int" />
      <xs:element minOccurs="0" name="AUTH_LEVEL" type="xs:int" />
      <xs:element minOccurs="0" name="MEMO" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataSysAuthMainDB" nillable="true" type="tns:DataSysAuthMainDB" />
</xs:schema>