EldigmPlusApp/Web References/Mem_WsInOut/WsInOut.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WsInOut" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49469/WebSvc/Worker/InOut/WsInOut.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49469/WebSvc/Worker/InOut/WsInOut.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49469/WebSvc/Worker/InOut/WsInOut.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EldigmPlusSvc_Main.WebSvc.Worker.InOut" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWsInOut_sLaborCompanyList_InputMessage">
    <wsdl:part name="parameters" element="tns:sLaborCompanyList" />
  </wsdl:message>
  <wsdl:message name="IWsInOut_sLaborCompanyList_OutputMessage">
    <wsdl:part name="parameters" element="tns:sLaborCompanyListResponse" />
  </wsdl:message>
  <wsdl:message name="IWsInOut_sInOut_InputMessage">
    <wsdl:part name="parameters" element="tns:sInOut" />
  </wsdl:message>
  <wsdl:message name="IWsInOut_sInOut_OutputMessage">
    <wsdl:part name="parameters" element="tns:sInOutResponse" />
  </wsdl:message>
  <wsdl:message name="IWsInOut_sInOutLog_InputMessage">
    <wsdl:part name="parameters" element="tns:sInOutLog" />
  </wsdl:message>
  <wsdl:message name="IWsInOut_sInOutLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:sInOutLogResponse" />
  </wsdl:message>
  <wsdl:portType name="IWsInOut">
    <wsdl:operation name="sLaborCompanyList">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsInOut/sLaborCompanyList" message="tns:IWsInOut_sLaborCompanyList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsInOut/sLaborCompanyListResponse" message="tns:IWsInOut_sLaborCompanyList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sInOut">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsInOut/sInOut" message="tns:IWsInOut_sInOut_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsInOut/sInOutResponse" message="tns:IWsInOut_sInOut_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sInOutLog">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsInOut/sInOutLog" message="tns:IWsInOut_sInOutLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsInOut/sInOutLogResponse" message="tns:IWsInOut_sInOutLog_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWsInOut" type="tns:IWsInOut">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="sLaborCompanyList">
      <soap:operation soapAction="http://tempuri.org/IWsInOut/sLaborCompanyList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sInOut">
      <soap:operation soapAction="http://tempuri.org/IWsInOut/sInOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sInOutLog">
      <soap:operation soapAction="http://tempuri.org/IWsInOut/sInOutLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsInOut">
    <wsdl:port name="BasicHttpBinding_IWsInOut" binding="tns:BasicHttpBinding_IWsInOut">
      <soap:address location="http://localhost:49469/WebSvc/Worker/InOut/WsInOut.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>