EldigmPlusApp/Web References/Mem_WsInOut/WsInOut1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49469/WebSvc/Worker/InOut/WsInOut.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EldigmPlusSvc_Main.WebSvc.Worker.InOut" />
  <xs:element name="sInOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pDbnm" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pSiteCd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pDtp1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pDtp2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sInOutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sInOutResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EldigmPlusSvc_Main.WebSvc.Worker.InOut" minOccurs="0" name="reList" nillable="true" type="q1:ArrayOfDataInOut" />
        <xs:element minOccurs="0" name="reMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sInOutLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pDbnm" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pSiteCd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pDtp1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pDtp2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sInOutLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sInOutLogResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EldigmPlusSvc_Main.WebSvc.Worker.InOut" minOccurs="0" name="reList" nillable="true" type="q2:ArrayOfDataInOut" />
        <xs:element minOccurs="0" name="reMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>