EldigmPlusApp/Web References/Mem_WsWorkerLaborSearch/WsWorkerLaborSearch.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WsWorkerLaborSearch" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49501/WebSvc/Worker/Labor/WsWorkerLaborSearch.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49501/WebSvc/Worker/Labor/WsWorkerLaborSearch.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49501/WebSvc/Worker/Labor/WsWorkerLaborSearch.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EldigmPlusSvc_Memco.WebSvc.Sys.Worker" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWsWorkerLaborSearch_sLaborCompanyList_InputMessage">
    <wsdl:part name="parameters" element="tns:sLaborCompanyList" />
  </wsdl:message>
  <wsdl:message name="IWsWorkerLaborSearch_sLaborCompanyList_OutputMessage">
    <wsdl:part name="parameters" element="tns:sLaborCompanyListResponse" />
  </wsdl:message>
  <wsdl:message name="IWsWorkerLaborSearch_sLaborConstList_InputMessage">
    <wsdl:part name="parameters" element="tns:sLaborConstList" />
  </wsdl:message>
  <wsdl:message name="IWsWorkerLaborSearch_sLaborConstList_OutputMessage">
    <wsdl:part name="parameters" element="tns:sLaborConstListResponse" />
  </wsdl:message>
  <wsdl:message name="IWsWorkerLaborSearch_sLaborJobList_InputMessage">
    <wsdl:part name="parameters" element="tns:sLaborJobList" />
  </wsdl:message>
  <wsdl:message name="IWsWorkerLaborSearch_sLaborJobList_OutputMessage">
    <wsdl:part name="parameters" element="tns:sLaborJobListResponse" />
  </wsdl:message>
  <wsdl:message name="IWsWorkerLaborSearch_sLaborBlockList_InputMessage">
    <wsdl:part name="parameters" element="tns:sLaborBlockList" />
  </wsdl:message>
  <wsdl:message name="IWsWorkerLaborSearch_sLaborBlockList_OutputMessage">
    <wsdl:part name="parameters" element="tns:sLaborBlockListResponse" />
  </wsdl:message>
  <wsdl:message name="IWsWorkerLaborSearch_sLaborTeamList_InputMessage">
    <wsdl:part name="parameters" element="tns:sLaborTeamList" />
  </wsdl:message>
  <wsdl:message name="IWsWorkerLaborSearch_sLaborTeamList_OutputMessage">
    <wsdl:part name="parameters" element="tns:sLaborTeamListResponse" />
  </wsdl:message>
  <wsdl:message name="IWsWorkerLaborSearch_sLaborSearch_InputMessage">
    <wsdl:part name="parameters" element="tns:sLaborSearch" />
  </wsdl:message>
  <wsdl:message name="IWsWorkerLaborSearch_sLaborSearch_OutputMessage">
    <wsdl:part name="parameters" element="tns:sLaborSearchResponse" />
  </wsdl:message>
  <wsdl:portType name="IWsWorkerLaborSearch">
    <wsdl:operation name="sLaborCompanyList">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsWorkerLaborSearch/sLaborCompanyList" message="tns:IWsWorkerLaborSearch_sLaborCompanyList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsWorkerLaborSearch/sLaborCompanyListResponse" message="tns:IWsWorkerLaborSearch_sLaborCompanyList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sLaborConstList">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsWorkerLaborSearch/sLaborConstList" message="tns:IWsWorkerLaborSearch_sLaborConstList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsWorkerLaborSearch/sLaborConstListResponse" message="tns:IWsWorkerLaborSearch_sLaborConstList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sLaborJobList">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsWorkerLaborSearch/sLaborJobList" message="tns:IWsWorkerLaborSearch_sLaborJobList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsWorkerLaborSearch/sLaborJobListResponse" message="tns:IWsWorkerLaborSearch_sLaborJobList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sLaborBlockList">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsWorkerLaborSearch/sLaborBlockList" message="tns:IWsWorkerLaborSearch_sLaborBlockList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsWorkerLaborSearch/sLaborBlockListResponse" message="tns:IWsWorkerLaborSearch_sLaborBlockList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sLaborTeamList">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsWorkerLaborSearch/sLaborTeamList" message="tns:IWsWorkerLaborSearch_sLaborTeamList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsWorkerLaborSearch/sLaborTeamListResponse" message="tns:IWsWorkerLaborSearch_sLaborTeamList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sLaborSearch">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsWorkerLaborSearch/sLaborSearch" message="tns:IWsWorkerLaborSearch_sLaborSearch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsWorkerLaborSearch/sLaborSearchResponse" message="tns:IWsWorkerLaborSearch_sLaborSearch_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWsWorkerLaborSearch" type="tns:IWsWorkerLaborSearch">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="sLaborCompanyList">
      <soap:operation soapAction="http://tempuri.org/IWsWorkerLaborSearch/sLaborCompanyList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sLaborConstList">
      <soap:operation soapAction="http://tempuri.org/IWsWorkerLaborSearch/sLaborConstList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sLaborJobList">
      <soap:operation soapAction="http://tempuri.org/IWsWorkerLaborSearch/sLaborJobList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sLaborBlockList">
      <soap:operation soapAction="http://tempuri.org/IWsWorkerLaborSearch/sLaborBlockList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sLaborTeamList">
      <soap:operation soapAction="http://tempuri.org/IWsWorkerLaborSearch/sLaborTeamList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sLaborSearch">
      <soap:operation soapAction="http://tempuri.org/IWsWorkerLaborSearch/sLaborSearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsWorkerLaborSearch">
    <wsdl:port name="BasicHttpBinding_IWsWorkerLaborSearch" binding="tns:BasicHttpBinding_IWsWorkerLaborSearch">
      <soap:address location="http://localhost:49501/WebSvc/Worker/Labor/WsWorkerLaborSearch.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>