EldigmPlusApp/Web References/Mem_WsWorkerLaborSearch/WsWorkerLaborSearch2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49501/WebSvc/Worker/Labor/WsWorkerLaborSearch.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EldigmPlusSvc_Memco.WebSvc.Sys.Worker" />
  <xs:import schemaLocation="http://localhost:49501/WebSvc/Worker/Labor/WsWorkerLaborSearch.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="sLaborCompanyList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pSiteCd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pAuthCd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pCoCd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sLaborCompanyListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sLaborCompanyListResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EldigmPlusSvc_Memco.WebSvc.Sys.Worker" minOccurs="0" name="reList" nillable="true" type="q1:ArrayOfDataComCombo" />
        <xs:element minOccurs="0" name="reMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sLaborSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pSiteCd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pCoCd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sLaborSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sLaborSearchResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EldigmPlusSvc_Memco.WebSvc.Sys.Worker" minOccurs="0" name="reList" nillable="true" type="q2:ArrayOfDataLaborSearch" />
        <xs:element minOccurs="0" name="reMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="devTypeCmb">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="devTypeCmbResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="devTypeCmbResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EldigmPlusSvc_Memco.WebSvc.Sys.Worker" minOccurs="0" name="reList" nillable="true" type="q3:ArrayOfDataDevCombo" />
        <xs:element minOccurs="0" name="reMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="devIOCmb">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="devIOCmbResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="devIOCmbResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/EldigmPlusSvc_Memco.WebSvc.Sys.Worker" minOccurs="0" name="reList" nillable="true" type="q4:ArrayOfDataDevCombo" />
        <xs:element minOccurs="0" name="reMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pDbNm" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pSiteCd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sDeviceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sDeviceResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/EldigmPlusSvc_Memco.WebSvc.Sys.Worker" minOccurs="0" name="reList" nillable="true" type="q5:ArrayOfDataDevice" />
        <xs:element minOccurs="0" name="reMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pDbNm" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pSiteCd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pDevCd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pDeviceId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pDevTypeScd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pDevIOScd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pDevNm" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pIp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pSortNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pUsingFalg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pMemo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mDeviceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mDeviceResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reMsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reData" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="aDevicePro">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pDbNm" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="param" nillable="true" type="q6:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="aDeviceProResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aDeviceProResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reMsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reData" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="logDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pDbNm" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pDevCd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pSiteCd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pDeviceId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pDevTypeScd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pDevIOScd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pDevNm" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pIp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pUsingFalg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pSortNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pMemo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pInputId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="logDeviceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="logDeviceResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reMsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reData" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>