EldigmPlusApp/Web References/Mem_WsWorkerLaborSearch/WsWorkerLaborSearch2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49501/WebSvc/Worker/Labor/WsWorkerLaborSearch.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EldigmPlusSvc_Memco.WebSvc.Sys.Worker" />
  <xs:import schemaLocation="http://localhost:49501/WebSvc/Worker/Labor/WsWorkerLaborSearch.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="sLaborCompanyList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pSiteCd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pAuthCd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pCoCd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pLngCom" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sLaborCompanyListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sLaborCompanyListResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EldigmPlusSvc_Memco.WebSvc.Sys.Worker" minOccurs="0" name="reList" nillable="true" type="q1:ArrayOfDataComCombo" />
        <xs:element minOccurs="0" name="reMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sLaborConstList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pSiteCd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pAuthCd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pCcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pLngConst" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sLaborConstListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sLaborConstListResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EldigmPlusSvc_Memco.WebSvc.Sys.Worker" minOccurs="0" name="reList" nillable="true" type="q2:ArrayOfDataComCombo" />
        <xs:element minOccurs="0" name="reMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sLaborJobList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pSiteCd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pLngJob" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sLaborJobListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sLaborJobListResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EldigmPlusSvc_Memco.WebSvc.Sys.Worker" minOccurs="0" name="reList" nillable="true" type="q3:ArrayOfDataComCombo" />
        <xs:element minOccurs="0" name="reMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sLaborBlockList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pSiteCd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pAuthCd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pCcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pLngBlock" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sLaborBlockListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sLaborBlockListResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/EldigmPlusSvc_Memco.WebSvc.Sys.Worker" minOccurs="0" name="reList" nillable="true" type="q4:ArrayOfDataComCombo" />
        <xs:element minOccurs="0" name="reMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sLaborTeamList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pSiteCd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pAuthCd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pTeamCd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pCocd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pLngTeam" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sLaborTeamListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sLaborTeamListResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/EldigmPlusSvc_Memco.WebSvc.Sys.Worker" minOccurs="0" name="reList" nillable="true" type="q5:ArrayOfDataComCombo" />
        <xs:element minOccurs="0" name="reMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sLabInfoTypeList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pSiteCd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pLngCategory" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sLabInfoTypeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sLabInfoTypeListResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/EldigmPlusSvc_Memco.WebSvc.Sys.Worker" minOccurs="0" name="reList" nillable="true" type="q6:ArrayOfDataComComboStr" />
        <xs:element minOccurs="0" name="reMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sLabTcodeList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pSiteCd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pTgrpCcd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pTtypeScd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pLngCategory" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pAuthCd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sLabTcodeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sLabTcodeListResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/EldigmPlusSvc_Memco.WebSvc.Sys.Worker" minOccurs="0" name="reList" nillable="true" type="q7:ArrayOfDataComComboStr" />
        <xs:element minOccurs="0" name="reMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sLaborAddInfoCcode2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pSiteCd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pAuth" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pLangCategory" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sLaborAddInfoCcode2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sLaborAddInfoCcode2Result" nillable="true" type="xs:string" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/EldigmPlusSvc_Memco.WebSvc.Sys.Worker" minOccurs="0" name="reList" nillable="true" type="q8:ArrayOfDataComCombo" />
        <xs:element minOccurs="0" name="reMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sLaborSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pSiteCd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pBlockCcd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pConstCcd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pCoCd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pTeamCd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pSearchCondition" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pSearchTxt" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pTtypeScd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pTcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sLaborSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sLaborSearchResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/EldigmPlusSvc_Memco.WebSvc.Sys.Worker" minOccurs="0" name="reList" nillable="true" type="q9:ArrayOfDataLaborSearch" />
        <xs:element minOccurs="0" name="reMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sLabAprvFlag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pSiteCd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pAuthCd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sLabAprvFlagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sLabAprvFlagResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reData" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sLabAuth">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pSiteCd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sLabAuthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sLabAuthResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reData" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="exLabMember">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pSiteCd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pLabNm" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pMobileNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pBirthDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="exLabMemberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="exLabMemberResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reData" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="exLabMain">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pLabNm" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pMobileNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pBirthDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="exLabMainResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="exLabMainResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reData" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sLaborAddInfoCcode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pDbnm" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pSiteCd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pAuth" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sLaborAddInfoCcodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sLaborAddInfoCcodeResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/EldigmPlusSvc_Memco.WebSvc.Sys.Worker" minOccurs="0" name="reList" nillable="true" type="q10:ArrayOfDataAddinfoCcode" />
        <xs:element minOccurs="0" name="reMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sLaborAddInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pSiteCd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pCodeT" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pTgrpCcd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pAuthCd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sLaborAddInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sLaborAddInfoResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/EldigmPlusSvc_Memco.WebSvc.Sys.Worker" minOccurs="0" name="reList" nillable="true" type="q11:ArrayOfDataAddinfo" />
        <xs:element minOccurs="0" name="reMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sLaborAddInfoModify">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pLabNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pSiteCd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pTtypeScd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pTgrpCcd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sLaborAddInfoModifyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sLaborAddInfoModifyResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/EldigmPlusSvc_Memco.WebSvc.Sys.Worker" minOccurs="0" name="reList" nillable="true" type="q12:ArrayOfDataAddinfo" />
        <xs:element minOccurs="0" name="reMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sLaborAddInfoSub">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pSiteCd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pTcode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sLaborAddInfoSubResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sLaborAddInfoSubResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/EldigmPlusSvc_Memco.WebSvc.Sys.Worker" minOccurs="0" name="reList" nillable="true" type="q13:ArrayOfDataAddinfoCcodesub" />
        <xs:element minOccurs="0" name="reMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="aLaborPro">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pDbNm" nillable="true" type="xs:string" />
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="param" nillable="true" type="q14:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="aLaborProResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aLaborProResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="reData" nillable="true" type="q15:ArrayOfstring" />
        <xs:element minOccurs="0" name="reMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mLaborPro">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pDbNm" nillable="true" type="xs:string" />
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="param" nillable="true" type="q16:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mLaborProResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mLaborProResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reData" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="aLaborLabTcodeSite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pDbnm" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pLabNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pSiteCd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pTcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pTtypeScd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="aLaborLabTcodeSiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aLaborLabTcodeSiteResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reData" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mLaborLabTcodeSite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pDbnm" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pLabNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pSiteCd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pTcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mLaborLabTcodeSiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mLaborLabTcodeSiteResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reData" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="aLaborLabTcodeSiteLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pDbnm" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pLabNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pSiteCd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pTcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pTtypeScd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pInputId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="aLaborLabTcodeSiteLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aLaborLabTcodeSiteLogResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reData" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthLaborNew">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pDbNm" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pSiteCd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pAuthCd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthLaborNewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuthLaborNewResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reData" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthLaborModify">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pDbNm" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pSiteCd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pAuthCd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthLaborModifyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuthLaborModifyResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reData" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>