EldigmPlusApp/Web References/Mem_WsWorkerLaborSearch/WsWorkerLaborSearch.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WsWorkerLaborSearch" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49501/WebSvc/Worker/Labor/WsWorkerLaborSearch.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49501/WebSvc/Worker/Labor/WsWorkerLaborSearch.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49501/WebSvc/Worker/Labor/WsWorkerLaborSearch.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EldigmPlusSvc_Memco.WebSvc.Sys.Worker" />
      <xsd:import schemaLocation="http://localhost:49501/WebSvc/Worker/Labor/WsWorkerLaborSearch.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWsWorkerLaborSearch_sLaborCompanyList_InputMessage">
    <wsdl:part name="parameters" element="tns:sLaborCompanyList" />
  </wsdl:message>
  <wsdl:message name="IWsWorkerLaborSearch_sLaborCompanyList_OutputMessage">
    <wsdl:part name="parameters" element="tns:sLaborCompanyListResponse" />
  </wsdl:message>
  <wsdl:message name="IWsWorkerLaborSearch_sLaborSearch_InputMessage">
    <wsdl:part name="parameters" element="tns:sLaborSearch" />
  </wsdl:message>
  <wsdl:message name="IWsWorkerLaborSearch_sLaborSearch_OutputMessage">
    <wsdl:part name="parameters" element="tns:sLaborSearchResponse" />
  </wsdl:message>
  <wsdl:message name="IWsWorkerLaborSearch_devTypeCmb_InputMessage">
    <wsdl:part name="parameters" element="tns:devTypeCmb" />
  </wsdl:message>
  <wsdl:message name="IWsWorkerLaborSearch_devTypeCmb_OutputMessage">
    <wsdl:part name="parameters" element="tns:devTypeCmbResponse" />
  </wsdl:message>
  <wsdl:message name="IWsWorkerLaborSearch_devIOCmb_InputMessage">
    <wsdl:part name="parameters" element="tns:devIOCmb" />
  </wsdl:message>
  <wsdl:message name="IWsWorkerLaborSearch_devIOCmb_OutputMessage">
    <wsdl:part name="parameters" element="tns:devIOCmbResponse" />
  </wsdl:message>
  <wsdl:message name="IWsWorkerLaborSearch_sDevice_InputMessage">
    <wsdl:part name="parameters" element="tns:sDevice" />
  </wsdl:message>
  <wsdl:message name="IWsWorkerLaborSearch_sDevice_OutputMessage">
    <wsdl:part name="parameters" element="tns:sDeviceResponse" />
  </wsdl:message>
  <wsdl:message name="IWsWorkerLaborSearch_mDevice_InputMessage">
    <wsdl:part name="parameters" element="tns:mDevice" />
  </wsdl:message>
  <wsdl:message name="IWsWorkerLaborSearch_mDevice_OutputMessage">
    <wsdl:part name="parameters" element="tns:mDeviceResponse" />
  </wsdl:message>
  <wsdl:message name="IWsWorkerLaborSearch_aDevicePro_InputMessage">
    <wsdl:part name="parameters" element="tns:aDevicePro" />
  </wsdl:message>
  <wsdl:message name="IWsWorkerLaborSearch_aDevicePro_OutputMessage">
    <wsdl:part name="parameters" element="tns:aDeviceProResponse" />
  </wsdl:message>
  <wsdl:message name="IWsWorkerLaborSearch_logDevice_InputMessage">
    <wsdl:part name="parameters" element="tns:logDevice" />
  </wsdl:message>
  <wsdl:message name="IWsWorkerLaborSearch_logDevice_OutputMessage">
    <wsdl:part name="parameters" element="tns:logDeviceResponse" />
  </wsdl:message>
  <wsdl:portType name="IWsWorkerLaborSearch">
    <wsdl:operation name="sLaborCompanyList">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsWorkerLaborSearch/sLaborCompanyList" message="tns:IWsWorkerLaborSearch_sLaborCompanyList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsWorkerLaborSearch/sLaborCompanyListResponse" message="tns:IWsWorkerLaborSearch_sLaborCompanyList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sLaborSearch">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsWorkerLaborSearch/sLaborSearch" message="tns:IWsWorkerLaborSearch_sLaborSearch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsWorkerLaborSearch/sLaborSearchResponse" message="tns:IWsWorkerLaborSearch_sLaborSearch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="devTypeCmb">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsWorkerLaborSearch/devTypeCmb" message="tns:IWsWorkerLaborSearch_devTypeCmb_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsWorkerLaborSearch/devTypeCmbResponse" message="tns:IWsWorkerLaborSearch_devTypeCmb_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="devIOCmb">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsWorkerLaborSearch/devIOCmb" message="tns:IWsWorkerLaborSearch_devIOCmb_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsWorkerLaborSearch/devIOCmbResponse" message="tns:IWsWorkerLaborSearch_devIOCmb_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sDevice">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsWorkerLaborSearch/sDevice" message="tns:IWsWorkerLaborSearch_sDevice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsWorkerLaborSearch/sDeviceResponse" message="tns:IWsWorkerLaborSearch_sDevice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="mDevice">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsWorkerLaborSearch/mDevice" message="tns:IWsWorkerLaborSearch_mDevice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsWorkerLaborSearch/mDeviceResponse" message="tns:IWsWorkerLaborSearch_mDevice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="aDevicePro">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsWorkerLaborSearch/aDevicePro" message="tns:IWsWorkerLaborSearch_aDevicePro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsWorkerLaborSearch/aDeviceProResponse" message="tns:IWsWorkerLaborSearch_aDevicePro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="logDevice">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsWorkerLaborSearch/logDevice" message="tns:IWsWorkerLaborSearch_logDevice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsWorkerLaborSearch/logDeviceResponse" message="tns:IWsWorkerLaborSearch_logDevice_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWsWorkerLaborSearch" type="tns:IWsWorkerLaborSearch">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="sLaborCompanyList">
      <soap:operation soapAction="http://tempuri.org/IWsWorkerLaborSearch/sLaborCompanyList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sLaborSearch">
      <soap:operation soapAction="http://tempuri.org/IWsWorkerLaborSearch/sLaborSearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="devTypeCmb">
      <soap:operation soapAction="http://tempuri.org/IWsWorkerLaborSearch/devTypeCmb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="devIOCmb">
      <soap:operation soapAction="http://tempuri.org/IWsWorkerLaborSearch/devIOCmb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sDevice">
      <soap:operation soapAction="http://tempuri.org/IWsWorkerLaborSearch/sDevice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mDevice">
      <soap:operation soapAction="http://tempuri.org/IWsWorkerLaborSearch/mDevice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="aDevicePro">
      <soap:operation soapAction="http://tempuri.org/IWsWorkerLaborSearch/aDevicePro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logDevice">
      <soap:operation soapAction="http://tempuri.org/IWsWorkerLaborSearch/logDevice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsWorkerLaborSearch">
    <wsdl:port name="BasicHttpBinding_IWsWorkerLaborSearch" binding="tns:BasicHttpBinding_IWsWorkerLaborSearch">
      <soap:address location="http://localhost:49501/WebSvc/Worker/Labor/WsWorkerLaborSearch.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>