EldigmPlusApp/Web References/Mem_WsWorkerLaborSearch/WsWorkerLaborSearch.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49501/WebSvc/Worker/Labor/WsWorkerLaborSearch.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EldigmPlusSvc_Memco.WebSvc.Sys.Worker" />
  <xs:element name="sLaborCompanyList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pSiteCd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pAuthCd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pCoCd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sLaborCompanyListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sLaborCompanyListResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EldigmPlusSvc_Memco.WebSvc.Sys.Worker" minOccurs="0" name="reList" nillable="true" type="q1:ArrayOfDataComCombo" />
        <xs:element minOccurs="0" name="reMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sLaborConstList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pSiteCd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pAuthCd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pCcode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sLaborConstListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sLaborConstListResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EldigmPlusSvc_Memco.WebSvc.Sys.Worker" minOccurs="0" name="reList" nillable="true" type="q2:ArrayOfDataComCombo" />
        <xs:element minOccurs="0" name="reMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sLaborJobList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pSiteCd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sLaborJobListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sLaborJobListResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EldigmPlusSvc_Memco.WebSvc.Sys.Worker" minOccurs="0" name="reList" nillable="true" type="q3:ArrayOfDataComCombo" />
        <xs:element minOccurs="0" name="reMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sLaborBlockList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pSiteCd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pAuthCd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pCcode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sLaborBlockListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sLaborBlockListResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/EldigmPlusSvc_Memco.WebSvc.Sys.Worker" minOccurs="0" name="reList" nillable="true" type="q4:ArrayOfDataComCombo" />
        <xs:element minOccurs="0" name="reMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sLaborTeamList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pSiteCd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pAuthCd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pTeamCd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pCocd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sLaborTeamListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sLaborTeamListResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/EldigmPlusSvc_Memco.WebSvc.Sys.Worker" minOccurs="0" name="reList" nillable="true" type="q5:ArrayOfDataComCombo" />
        <xs:element minOccurs="0" name="reMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sLaborSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pSiteCd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pBlockCcd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pConstCcd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pCoCd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pTeamCd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pSearchCondition" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pSearchTxt" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sLaborSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sLaborSearchResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/EldigmPlusSvc_Memco.WebSvc.Sys.Worker" minOccurs="0" name="reList" nillable="true" type="q6:ArrayOfDataLaborSearch" />
        <xs:element minOccurs="0" name="reMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>