EldigmPlusApp/Web References/Mem_WsWorkerLaborSearch/WsWorkerLaborSearch0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EldigmPlusSvc_Memco.WebSvc.Sys.Worker" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EldigmPlusSvc_Memco.WebSvc.Sys.Worker" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDataComCombo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataComCombo" nillable="true" type="tns:DataComCombo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataComCombo" nillable="true" type="tns:ArrayOfDataComCombo" />
  <xs:complexType name="DataComCombo">
    <xs:sequence>
      <xs:element minOccurs="0" name="VALUE" type="xs:int" />
      <xs:element minOccurs="0" name="TEXT" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataComCombo" nillable="true" type="tns:DataComCombo" />
  <xs:complexType name="ArrayOfDataLaborSearch">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataLaborSearch" nillable="true" type="tns:DataLaborSearch" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataLaborSearch" nillable="true" type="tns:ArrayOfDataLaborSearch" />
  <xs:complexType name="DataLaborSearch">
    <xs:sequence>
      <xs:element minOccurs="0" name="LAB_NO" type="xs:int" />
      <xs:element minOccurs="0" name="CO_NM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LAB_NM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JOB_NM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TEAM_NM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BIRTH_DATE" type="xs:int" />
      <xs:element minOccurs="0" name="MOBILE_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USER_NO" type="xs:int" />
      <xs:element minOccurs="0" name="AUTH_CD" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataLaborSearch" nillable="true" type="tns:DataLaborSearch" />
</xs:schema>