EldigmPlusApp/Web References/M_WsCodeTMainDB/WsCodeTMainDB.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WsCodeTMainDB" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49469/WebSvc/Sys/CodeT/WsCodeTMainDB.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49469/WebSvc/Sys/CodeT/WsCodeTMainDB.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49469/WebSvc/Sys/CodeT/WsCodeTMainDB.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EldigmPlusSvc_Main.WebSvc.Sys.CodeT" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWsCodeTMainDB_sSysCode_InputMessage">
    <wsdl:part name="parameters" element="tns:sSysCode" />
  </wsdl:message>
  <wsdl:message name="IWsCodeTMainDB_sSysCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:sSysCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IWsCodeTMainDB_sCodeTTreeView_InputMessage">
    <wsdl:part name="parameters" element="tns:sCodeTTreeView" />
  </wsdl:message>
  <wsdl:message name="IWsCodeTMainDB_sCodeTTreeView_OutputMessage">
    <wsdl:part name="parameters" element="tns:sCodeTTreeViewResponse" />
  </wsdl:message>
  <wsdl:message name="IWsCodeTMainDB_sCodeT_InputMessage">
    <wsdl:part name="parameters" element="tns:sCodeT" />
  </wsdl:message>
  <wsdl:message name="IWsCodeTMainDB_sCodeT_OutputMessage">
    <wsdl:part name="parameters" element="tns:sCodeTResponse" />
  </wsdl:message>
  <wsdl:message name="IWsCodeTMainDB_sCodeTSubTreeView_InputMessage">
    <wsdl:part name="parameters" element="tns:sCodeTSubTreeView" />
  </wsdl:message>
  <wsdl:message name="IWsCodeTMainDB_sCodeTSubTreeView_OutputMessage">
    <wsdl:part name="parameters" element="tns:sCodeTSubTreeViewResponse" />
  </wsdl:message>
  <wsdl:message name="IWsCodeTMainDB_sCodeTSub_InputMessage">
    <wsdl:part name="parameters" element="tns:sCodeTSub" />
  </wsdl:message>
  <wsdl:message name="IWsCodeTMainDB_sCodeTSub_OutputMessage">
    <wsdl:part name="parameters" element="tns:sCodeTSubResponse" />
  </wsdl:message>
  <wsdl:portType name="IWsCodeTMainDB">
    <wsdl:operation name="sSysCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsCodeTMainDB/sSysCode" message="tns:IWsCodeTMainDB_sSysCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsCodeTMainDB/sSysCodeResponse" message="tns:IWsCodeTMainDB_sSysCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sCodeTTreeView">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsCodeTMainDB/sCodeTTreeView" message="tns:IWsCodeTMainDB_sCodeTTreeView_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsCodeTMainDB/sCodeTTreeViewResponse" message="tns:IWsCodeTMainDB_sCodeTTreeView_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sCodeT">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsCodeTMainDB/sCodeT" message="tns:IWsCodeTMainDB_sCodeT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsCodeTMainDB/sCodeTResponse" message="tns:IWsCodeTMainDB_sCodeT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sCodeTSubTreeView">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsCodeTMainDB/sCodeTSubTreeView" message="tns:IWsCodeTMainDB_sCodeTSubTreeView_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsCodeTMainDB/sCodeTSubTreeViewResponse" message="tns:IWsCodeTMainDB_sCodeTSubTreeView_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sCodeTSub">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsCodeTMainDB/sCodeTSub" message="tns:IWsCodeTMainDB_sCodeTSub_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsCodeTMainDB/sCodeTSubResponse" message="tns:IWsCodeTMainDB_sCodeTSub_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWsCodeTMainDB" type="tns:IWsCodeTMainDB">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="sSysCode">
      <soap:operation soapAction="http://tempuri.org/IWsCodeTMainDB/sSysCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sCodeTTreeView">
      <soap:operation soapAction="http://tempuri.org/IWsCodeTMainDB/sCodeTTreeView" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sCodeT">
      <soap:operation soapAction="http://tempuri.org/IWsCodeTMainDB/sCodeT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sCodeTSubTreeView">
      <soap:operation soapAction="http://tempuri.org/IWsCodeTMainDB/sCodeTSubTreeView" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sCodeTSub">
      <soap:operation soapAction="http://tempuri.org/IWsCodeTMainDB/sCodeTSub" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsCodeTMainDB">
    <wsdl:port name="BasicHttpBinding_IWsCodeTMainDB" binding="tns:BasicHttpBinding_IWsCodeTMainDB">
      <soap:address location="http://localhost:49469/WebSvc/Sys/CodeT/WsCodeTMainDB.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>