EldigmPlusApp/Web References/Mem_WsDevice/WsDevice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WsDevice" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49501/WebSvc/Sys/Device/WsDevice.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49501/WebSvc/Sys/Device/WsDevice.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49501/WebSvc/Sys/Device/WsDevice.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EldigmPlusSvc_Memco.WebSvc.Sys.Device" />
      <xsd:import schemaLocation="http://localhost:49501/WebSvc/Sys/Device/WsDevice.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWsDevice_devTypeCmb_InputMessage">
    <wsdl:part name="parameters" element="tns:devTypeCmb" />
  </wsdl:message>
  <wsdl:message name="IWsDevice_devTypeCmb_OutputMessage">
    <wsdl:part name="parameters" element="tns:devTypeCmbResponse" />
  </wsdl:message>
  <wsdl:message name="IWsDevice_devIOCmb_InputMessage">
    <wsdl:part name="parameters" element="tns:devIOCmb" />
  </wsdl:message>
  <wsdl:message name="IWsDevice_devIOCmb_OutputMessage">
    <wsdl:part name="parameters" element="tns:devIOCmbResponse" />
  </wsdl:message>
  <wsdl:message name="IWsDevice_sDevice_InputMessage">
    <wsdl:part name="parameters" element="tns:sDevice" />
  </wsdl:message>
  <wsdl:message name="IWsDevice_sDevice_OutputMessage">
    <wsdl:part name="parameters" element="tns:sDeviceResponse" />
  </wsdl:message>
  <wsdl:message name="IWsDevice_mDevice_InputMessage">
    <wsdl:part name="parameters" element="tns:mDevice" />
  </wsdl:message>
  <wsdl:message name="IWsDevice_mDevice_OutputMessage">
    <wsdl:part name="parameters" element="tns:mDeviceResponse" />
  </wsdl:message>
  <wsdl:message name="IWsDevice_aDevicePro_InputMessage">
    <wsdl:part name="parameters" element="tns:aDevicePro" />
  </wsdl:message>
  <wsdl:message name="IWsDevice_aDevicePro_OutputMessage">
    <wsdl:part name="parameters" element="tns:aDeviceProResponse" />
  </wsdl:message>
  <wsdl:message name="IWsDevice_logDevice_InputMessage">
    <wsdl:part name="parameters" element="tns:logDevice" />
  </wsdl:message>
  <wsdl:message name="IWsDevice_logDevice_OutputMessage">
    <wsdl:part name="parameters" element="tns:logDeviceResponse" />
  </wsdl:message>
  <wsdl:portType name="IWsDevice">
    <wsdl:operation name="devTypeCmb">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsDevice/devTypeCmb" message="tns:IWsDevice_devTypeCmb_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsDevice/devTypeCmbResponse" message="tns:IWsDevice_devTypeCmb_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="devIOCmb">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsDevice/devIOCmb" message="tns:IWsDevice_devIOCmb_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsDevice/devIOCmbResponse" message="tns:IWsDevice_devIOCmb_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sDevice">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsDevice/sDevice" message="tns:IWsDevice_sDevice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsDevice/sDeviceResponse" message="tns:IWsDevice_sDevice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="mDevice">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsDevice/mDevice" message="tns:IWsDevice_mDevice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsDevice/mDeviceResponse" message="tns:IWsDevice_mDevice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="aDevicePro">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsDevice/aDevicePro" message="tns:IWsDevice_aDevicePro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsDevice/aDeviceProResponse" message="tns:IWsDevice_aDevicePro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="logDevice">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsDevice/logDevice" message="tns:IWsDevice_logDevice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsDevice/logDeviceResponse" message="tns:IWsDevice_logDevice_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWsDevice" type="tns:IWsDevice">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="devTypeCmb">
      <soap:operation soapAction="http://tempuri.org/IWsDevice/devTypeCmb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="devIOCmb">
      <soap:operation soapAction="http://tempuri.org/IWsDevice/devIOCmb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sDevice">
      <soap:operation soapAction="http://tempuri.org/IWsDevice/sDevice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mDevice">
      <soap:operation soapAction="http://tempuri.org/IWsDevice/mDevice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="aDevicePro">
      <soap:operation soapAction="http://tempuri.org/IWsDevice/aDevicePro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logDevice">
      <soap:operation soapAction="http://tempuri.org/IWsDevice/logDevice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsDevice">
    <wsdl:port name="BasicHttpBinding_IWsDevice" binding="tns:BasicHttpBinding_IWsDevice">
      <soap:address location="http://localhost:49501/WebSvc/Sys/Device/WsDevice.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>