EldigmPlusApp/Web References/Mem_WsDevice/WsDevice.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EldigmPlusSvc_Memco.WebSvc.Sys.Device" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EldigmPlusSvc_Memco.WebSvc.Sys.Device" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDataDevCombo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataDevCombo" nillable="true" type="tns:DataDevCombo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataDevCombo" nillable="true" type="tns:ArrayOfDataDevCombo" />
  <xs:complexType name="DataDevCombo">
    <xs:sequence>
      <xs:element minOccurs="0" name="SCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SCODE_NM" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataDevCombo" nillable="true" type="tns:DataDevCombo" />
  <xs:complexType name="ArrayOfDataDevice">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataDevice" nillable="true" type="tns:DataDevice" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataDevice" nillable="true" type="tns:ArrayOfDataDevice" />
  <xs:complexType name="DataDevice">
    <xs:sequence>
      <xs:element minOccurs="0" name="DEV_CD" type="xs:int" />
      <xs:element minOccurs="0" name="DEVICE_ID" type="xs:int" />
      <xs:element minOccurs="0" name="DEV_TYPE_SCD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DEV_IO_SCD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DEV_NM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USING_FLAG" type="xs:int" />
      <xs:element minOccurs="0" name="SORT_NO" type="xs:int" />
      <xs:element minOccurs="0" name="MEMO" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataDevice" nillable="true" type="tns:DataDevice" />
</xs:schema>