EldigmPlusApp/Web References/Mem_WsMHome/WsMainHome0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49501/WebSvc/MainHome/WsMainHome.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EldigmPlusSvc_Memco.WebSvc.MainHome" />
  <xs:element name="sDbNm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pMemcoCd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sDbNmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sDbNmResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reData" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sSiteMenu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pDbNm" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pSiteCd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sSiteMenuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sSiteMenuResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EldigmPlusSvc_Memco.WebSvc.MainHome" minOccurs="0" name="reList" nillable="true" type="q1:ArrayOfDataTopMenu" />
        <xs:element minOccurs="0" name="reMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sSiteSubMenu1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pDbNm" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pSiteCd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pTopMenuCd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sSiteSubMenu1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sSiteSubMenu1Result" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EldigmPlusSvc_Memco.WebSvc.MainHome" minOccurs="0" name="reList" nillable="true" type="q2:ArrayOfDataSubMenu1" />
        <xs:element minOccurs="0" name="reMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sSiteSubMenu2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pDbNm" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pSiteCd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pTopMenuCd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pSubMenuCd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sSiteSubMenu2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sSiteSubMenu2Result" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EldigmPlusSvc_Memco.WebSvc.MainHome" minOccurs="0" name="reList" nillable="true" type="q3:ArrayOfDataSubMenu2" />
        <xs:element minOccurs="0" name="reMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>